*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.container {
  width: 950px;
  height: 950px;
  border: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
}

.row {
  display: flex;
  flex: 1;
}

.cell {
  border: 1px solid black;
  flex: 1;
}
